# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
coverage/
.tmp/
.temp/

# Env / credenciales
.env
.env.*.local

# SO/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
logs/
*.log
